body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #0d000e;
}

.container {
    flex-direction: column;
}

.links {
    display: flex;
}

.backlink {
    display: flex;
    margin-top: 12px;
    margin-left: 15px;
    color: #9d4edd;
    text-decoration: none;
    font-weight: bold;
    opacity: 70%;
    transition: 800ms ease;
}

.repo {
    display: flex;
    margin-top: 12px;
    margin-left: 39vw;
    color: #9d4edd;
    text-decoration: none;
    font-weight: bold;
    opacity: 70%;
    transition: 800ms ease;
}

.title h1 {
    /* color: white; */
    background: linear-gradient(90deg, #9d4edd, #3a0ca3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: center;
    margin: 50px;
    margin-top: 65px;
    font-size: 3.4rem;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;    
}

.project {
    background-color: whitesmoke;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 15px;
    transition: 700ms ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 25px;
}
/* .project h3 {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50%;
    z-index: 0.9;
} */

.project p {
    display: flex;
    color: black;
    text-align: center;
    width: 90%;
    margin: 15px;
    margin-top: 27%;
}
/* .project p {
    display: flex;
    color: black;
    text-align: center;
    width: 90%;
    margin: 0 15px 15px 15px;
    z-index: 1;
} */

.project a {
    display: block;
    height: 300px;
    color: black;
    text-decoration: none;
}
.project a:visited {
    color: black;
    text-decoration: none;
}

